<div>
    <h2 id="page-heading">
        <span>Agentes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agente" [routerLink]="['/agente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Agente
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="agentes?.length === 0">
        <span>No agentes found</span>
    </div>
    <div class="table-responsive" *ngIf="agentes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Identificador</span></th>
            <th scope="col" ><span>Nombre</span></th>
            <th scope="col" ><span>Disponible</span></th>
            <th scope="col" ><span>Horario</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agente of agentes ;trackBy: trackId">
                <td><a [routerLink]="['/agente', agente.id, 'view' ]">{{agente.id}}</a></td>
                <td>{{agente.identificador}}</td>
                <td>{{agente.nombre}}</td>
                <td>{{agente.disponible}}</td>
                <td>{{agente.horario}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agente', agente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agente', agente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(agente)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
