<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agente">
            <h2><span>Agente</span> {{agente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identificador</span></dt>
                <dd>
                    <span>{{agente.identificador}}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{agente.nombre}}</span>
                </dd>
                <dt><span>Disponible</span></dt>
                <dd>
                    <span>{{agente.disponible}}</span>
                </dd>
                <dt><span>Horario</span></dt>
                <dd>
                    <span>{{agente.horario}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agente', agente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
