<div>
    <h2 id="page-heading">
        <span jhiTranslate="edgarBotApp.conversacion.home.title">Conversacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conversacion" [routerLink]="['/conversacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="edgarBotApp.conversacion.home.createLabel">
            Create a new Conversacion
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="conversacions?.length === 0">
        <span jhiTranslate="edgarBotApp.conversacion.home.notFound">No conversacions found</span>
    </div>
    <div class="table-responsive" *ngIf="conversacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.sessionDF">Session DF</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.authorWA">Author WA</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.inicio">Inicio</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.ultActCli">Ult Act Cli</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.fin">Fin</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.agente">Agente</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.conversacion.cliente">Cliente</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conversacion of conversacions ;trackBy: trackId">
                <td><a [routerLink]="['/conversacion', conversacion.id, 'view' ]">{{conversacion.id}}</a></td>
                <td>{{conversacion.sessionDF}}</td>
                <td>{{conversacion.authorWA}}</td>
                <td>{{conversacion.inicio | date:'medium'}}</td>
                <td>{{conversacion.ultActCli | date:'medium'}}</td>
                <td>{{conversacion.fin | date:'medium'}}</td>
                <td>{{conversacion.status}}</td>
                <td>
                    <div *ngIf="conversacion.agente">
                        <a [routerLink]="['/agente', conversacion.agente?.id, 'view' ]" >{{conversacion.agente?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="conversacion.cliente">
                        <a [routerLink]="['/cliente', conversacion.cliente?.id, 'view' ]" >{{conversacion.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conversacion', conversacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conversacion', conversacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(conversacion)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
