<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conversacion">
            <h2><span>Conversacion</span> {{conversacion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cliente</span></dt>
                <dd>
                    <span>{{conversacion.cliente}}</span>
                </dd>
                <dt><span>Session DF</span></dt>
                <dd>
                    <span>{{conversacion.sessionDF}}</span>
                </dd>
                <dt><span>Author WA</span></dt>
                <dd>
                    <span>{{conversacion.authorWA}}</span>
                </dd>
                <dt><span>Inicio</span></dt>
                <dd>
                    <span>{{conversacion.inicio}}</span>
                </dd>
                <dt><span>Ult Act Cli</span></dt>
                <dd>
                    <span>{{conversacion.ultActCli}}</span>
                </dd>
                <dt><span>Fin</span></dt>
                <dd>
                    <span>{{conversacion.fin}}</span>
                </dd>
                <dt><span>Agente</span></dt>
                <dd>
                    <div *ngIf="conversacion.agente">
                        <a [routerLink]="['/agente', conversacion.agente?.id, 'view']">{{conversacion.agente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conversacion', conversacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
