<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lineaOrden">
            <h2><span>Linea Orden</span> {{lineaOrden.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Codigo</span></dt>
                <dd>
                    <span>{{lineaOrden.codigo}}</span>
                </dd>
                <dt><span>Detalle</span></dt>
                <dd>
                    <span>{{lineaOrden.detalle}}</span>
                </dd>
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{lineaOrden.cantidad}}</span>
                </dd>
                <dt><span>Precio</span></dt>
                <dd>
                    <span>{{lineaOrden.precio}}</span>
                </dd>
                <dt><span>Orden</span></dt>
                <dd>
                    <div *ngIf="lineaOrden.orden">
                        <a [routerLink]="['/orden', lineaOrden.orden?.id, 'view']">{{lineaOrden.orden?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/linea-orden', lineaOrden.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
