<div>
    <h2 id="page-heading">
        <span jhiTranslate="edgarBotApp.contacto.home.title">Contactos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contacto" [routerLink]="['/contacto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="edgarBotApp.contacto.home.createLabel">
            Create a new Contacto
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contactos?.length === 0">
        <span jhiTranslate="edgarBotApp.contacto.home.notFound">No contactos found</span>
    </div>
    <div class="table-responsive" *ngIf="contactos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.contacto.nombrePersona">Nombre Persona</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.contacto.authorWA">Author WA</span></th>
            <th scope="col" ><span jhiTranslate="edgarBotApp.contacto.cliente">Cliente</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contacto of contactos ;trackBy: trackId">
                <td><a [routerLink]="['/contacto', contacto.id, 'view' ]">{{contacto.id}}</a></td>
                <td>{{contacto.nombrePersona}}</td>
                <td>{{contacto.authorWA}}</td>
                <td>
                    <div *ngIf="contacto.cliente">
                        <a [routerLink]="['/cliente', contacto.cliente?.id, 'view' ]" >{{contacto.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contacto', contacto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contacto', contacto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(contacto)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
