<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contacto">
            <h2><span jhiTranslate="edgarBotApp.contacto.detail.title">Contacto</span> {{contacto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edgarBotApp.contacto.nombrePersona">Nombre Persona</span></dt>
                <dd>
                    <span>{{contacto.nombrePersona}}</span>
                </dd>
                <dt><span jhiTranslate="edgarBotApp.contacto.authorWA">Author WA</span></dt>
                <dd>
                    <span>{{contacto.authorWA}}</span>
                </dd>
                <dt><span jhiTranslate="edgarBotApp.contacto.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="contacto.cliente">
                        <a [routerLink]="['/cliente', contacto.cliente?.id, 'view']">{{contacto.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contacto', contacto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
